pytorch-lightning
seaborn
tensorboardx
matplotlib
tensorboard
jupyter
pyyaml
numpy
# visdom - we used the patched visdom 
jsonpath
jsonpatch
scikit-image
opencv-python-headless
ipympl
pomegranate
gin-config==0.4.0

